.toolbar-container {
  position: absolute;
  top: 3.5rem;
  right: 0;
}

.editor-container {
  position: relative;
  overflow: auto;
  height: calc(100vh - 3.5rem);
}

.chat-container {
  overflow: auto;
  height: calc(100vh - 8.75rem);
  scroll-behavior: smooth;
}

.chat-bubble {
  position: relative;
  margin: 1.25rem;
  max-width: 16rem;
}

.chat-bubble-left {
  background-color: var(--bs-gray-dark);
}

.chat-bubble-left:after {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: -1.25rem;
  width: 0;
  height: 0;
  border: 1.25rem solid;
  border-color: var(--bs-gray-dark) transparent transparent transparent;
  content: " ";
}

.chat-bubble-right {
  margin-left: auto;
  background-color: var(--bs-blue);
}

.chat-bubble-right:after {
  position: absolute;
  top: 0;
  right: -1.25rem;
  bottom: auto;
  left: auto;
  width: 0;
  height: 0;
  border: 1.25rem solid;
  border-color: var(--bs-blue) transparent transparent transparent;
  content: " ";
}
