.toast-container {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 15;
  padding: 16px;
}

.btn-group-toolbar {
  position: absolute;
  top: 56px;
  right: 0;
}

.editor-container {
  position: relative;
  overflow: auto;
  height: calc(100vh - 56px);
}

.code-editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.chat-container {
  overflow: auto;
  height: calc(100vh - 140px);
  scroll-behavior: smooth;
}

.chat-bubble {
  position: relative;
  margin: 20px 20px;
  max-width: 250px;
}

.chat-bubble-left {
  background-color: var(--bs-gray-dark);
}

.chat-bubble-left:after {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: -20px;
  width: 0;
  height: 0;
  border: 22px solid;
  border-color: var(--bs-gray-dark) transparent transparent transparent;
  content: " ";
}

.chat-bubble-right {
  margin-left: auto;
  background-color: var(--bs-blue);
}

.chat-bubble-right:after {
  position: absolute;
  top: 0;
  right: -20px;
  bottom: auto;
  left: auto;
  width: 0;
  height: 0;
  border: 22px solid;
  border-color: var(--bs-blue) transparent transparent transparent;
  content: " ";
}

.badge {
  z-index: 10;
}
